.clock-container {
  text-align: center;
  padding: 10px 0;
  color: var(--ion-color-primary);
  font-family: 'Segoe UI', sans-serif;
}

.time {
  font-size: 28px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  opacity: 0.7;
}