<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-avatar>
    <ion-img [src]="avatar"></ion-img>
  </ion-avatar>
  <div class="ion-padding">
    <h2>{{ user?.fullName }}</h2>
    <p>{{ user?.email }}</p>
    <p>{{userHospital.name}}</p>
    <p>{{userHospital.address}}</p>
    <p *ngIf="user?.phone">{{ user.phone }}</p>

    <ion-button (click)="openEditProfile()">Edit Profile</ion-button>
  </div>
</ion-content>