.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  color: var(--ion-color-primary);
  padding: 10px;
}

.analog-clock {
  position: relative;
  width: 150px;
  height: 150px;
  border: 6px solid var(--ion-color-primary);
  border-radius: 50%;
  margin-bottom: 15px;
  background: #fff;

  .hand {
    position: absolute;
    width: 50%;
    height: 2px;
    background: var(--ion-color-primary);
    top: 50%;
    transform-origin: 100%;
    transition: all 0.5s ease-in-out;
  }

  .hand.hour {
    width: 35%;
    height: 4px;
  }

  .hand.minute {
    width: 45%;
    height: 3px;
  }

  .hand.second {
    width: 50%;
    height: 2px;
    background: red;
  }

  .center-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--ion-color-primary);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.digital-clock {
  text-align: center;

  .time {
    font-size: 24px;
    font-weight: bold;
  }

  .date {
    font-size: 14px;
    opacity: 0.7;
  }
}