<div class="clock-container">
  <!-- Analog Clock -->
  <div class="analog-clock">
    <div class="hand hour" [ngStyle]="{'transform': 'rotate(' + hoursDeg + 'deg)'}"></div>
    <div class="hand minute" [ngStyle]="{'transform': 'rotate(' + minutesDeg + 'deg)'}"></div>
    <div class="hand second" [ngStyle]="{'transform': 'rotate(' + secondsDeg + 'deg)'}"></div>
    <div class="center-dot"></div>
  </div>

  <!-- Digital Clock -->
  <div class="digital-clock">
    <div class="time">{{ time }}</div>
    <div class="date">{{ date }}</div>
  </div>
</div>


<!-- <div class="outer">
  <div class="inner">
    <div class="center">
      <div class="hour-hand" id="hour_hand"></div>
    </div>
    <div class="center">
      <div class="minute-hand" id="min_hand"></div>
    </div>
    <div class="center center-second">
      <div class="second-hand" id="sec_hand"></div>
    </div>
    <div class="segments" id="segments"></div>
  </div>
</div> -->