.ring-wrapper {
      position: relative;
      width: 120px;
      height: 120px;
      margin: auto;
    }

    .ring { transform: rotate(-90deg); }
    .bg {
      fill: none;
      stroke: #ccc;
      stroke-width: 10;
    }
    .progress {
      fill: none;
      stroke: var(--ion-color-primary);
      stroke-width: 10;
      stroke-linecap: round;
    //   transition: stroke-dashoffset 0.3s ease;
     transition: stroke-dashoffset 0.5s cubic-bezier(.4,0,.2,1),
                stroke 0.5s ease;  //smooth color fade
    
    }
    .center-text {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-align: center;
    }
    .hours { font-size: 20px; }
    .percent { font-size: 14px; opacity: 0.7; }