<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Shift Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Select User</ion-label>
    <ion-select [(ngModel)]="selectedUserId" (ionChange)="loadAssignmentsForSelectedUser()">
      <ion-select-option *ngFor="let u of users" [value]="u.id">{{ u.fullName }}</ion-select-option>
    </ion-select>
  </ion-item>

  <div style="margin-top:12px">
    <strong>{{ year }} - {{ month }}</strong>
  </div>

  <div class="calendar-grid">
    <div class="day-cell" *ngFor="let d of daysInMonth">
      <div class="day-number">{{ d }}</div>
      <ion-select interface="popover" [value]="getShiftForDay(d)" (ionChange)="changeShift(d, $event.detail.value)">
        <ion-select-option value="morning">Morning</ion-select-option>
        <ion-select-option value="night">Night</ion-select-option>
        <ion-select-option value="off">Off</ion-select-option>
      </ion-select>
    </div>
  </div>
</ion-content>