.sidebar-menu {
  --width: 260px;
}

ion-item {
  margin: 4px 0;
  border-radius: 8px;
  --background: transparent;

  ion-icon {
    font-size: 20px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.07);
  }
}

ion-toolbar {
  --background: var(--ion-color-primary);
  color: white;
}








.sidebar-menu {
  --width: 260px;
}

/* USER PROFILE SECTION */
.profile-header {
  background: var(--ion-color-primary);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  margin: 0;
}

.email {
  margin: 0;
  font-size: 13px;
  opacity: .8;
}

/* MENU ITEMS */
ion-item {
  margin: 4px 0;
  border-radius: 8px;
  --background: transparent;

  ion-icon {
    font-size: 20px;
  }
}

/* HOVER EFFECT */
ion-item:hover {
  background: rgba(0, 0, 0, 0.07);
}

/* ACTIVE MENU STYLING */
ion-item.active {
  background: var(--ion-color-primary);
  color: white;
}

ion-item.active ion-icon {
  color: white;
}
