.work-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  .buttons {
    display: flex;
    gap: 10px;
  }

  ion-progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
  }

  .hours-worked {
    font-size: 16px;
    font-weight: bold;
  }
}