<app-sidebar>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="goHistory()">History</ion-button>
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
</app-sidebar>




<ion-content class="ion-padding">
  <h2>Welcome, {{user.fullName}}</h2>
  <!-- <p>Today's date: {{ today }}</p>
  <p>{{ displayDate }}</p> -->

  <app-clock></app-clock>
  <app-clock-analog></app-clock-analog>

  <div class="work-progress-container" *ngIf="clockInTime && !clockOutTime" style="margin-top: 16px">
    <!-- <div class="work-progress-container" style="margin-top: 16px"> -->

    <div class="hours-worked">
      <span><b>Hours Worked:</b> {{ workedHours | number:'1.1-1' }}h</span>
      <span>{{ (progress * 100) | number:'1.0-0' }}%</span>
    </div>

    <ion-progress-bar [value]="progress"></ion-progress-bar>

    <small>Shift Target: {{ shiftTotalHours }} hours</small>
  </div>

  <div *ngIf="loading" style="margin:8px 0; display:flex; align-items:center; gap:8px">
    <ion-spinner name="crescent"></ion-spinner>
    <div>Loading attendance…</div>
  </div>

  <div *ngIf="assignedShift; else noShift">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Your assigned shift today</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>{{assignedShift | uppercase}}</h3>
        <p>Tap to record attendance</p>

        <ion-button expand="block" (click)="clockIn()" [disabled]="loading || clockingIn || clockInTime">{{clockingIn ?
          'Clocking In…' : 'Clock In'}}</ion-button>
        <ion-button expand="block" fill="outline" (click)="clockOut()"
          [disabled]="loading || clockingOut || !clockInTime || clockOutTime">{{clockingOut ? 'Clocking Out…' : 'Clock
          Out'}}</ion-button>

        <div *ngIf="message" style="margin-top:12px">{{message}}</div>
        <div *ngIf="durationText" style="margin-top:8px; font-weight:bold">{{durationText}}</div>

        <p *ngIf="clockInTime">Clocked in at: {{clockInTime | date:'shortTime'}}</p>
        <p *ngIf="clockOutTime">Clocked out at: {{clockOutTime | date:'shortTime'}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="block" color="tertiary" (click)="goHistory()">View My Attendance History</ion-button>


  <ng-template #noShift>
    <ion-note color="medium">No shift assigned for today. Contact your admin.</ion-note>
  </ng-template>
</ion-content>